@model ContentViewModel
@using Humanizer;
@{
    ViewData["Title"] = "内容列表";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td><input type="checkbox" class="done-checkbox" /></td>
                <td>序号</td>
                <td>标题</td>
                <td>内容</td>
                <td>添加时间</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Contents)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="done-checkbox">
                    </td>
                    <td>@m.Id</td>
                    <td>@m.Title</td>
                    <td>@m.ContentMsg</td>
                    <td>@m.CreateTime</td>
                </tr>
            }
        </tbody>
    </table>
</div>